<footer class="footer">
      <a href="#header">
        <img class="footer__icon" title="Top" src="./assets/images/ico-arrow.svg" alt="Arrow icon">
      </a>
      <nav>
        <ul class="footer__list">
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Articles</a>
          </li>
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Books</a>
          </li>
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Events</a>
          </li>
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Reasons</a>
          </li>
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Tips</a>
          </li>
        </ul>
        </nav>
        <nav>
        <ul class="footer__list">
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Twitter</a>
          </li>
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Instagram</a>
          </li>
          <li>
            <a class="footer__list--item" title="Adalab Web" href="https://adalab.es/" target="_blank">Mastodon.social</a>
          </li>
        </ul>
      </nav>
      <small class="footer__small">
        <p>&copy;2021</p>
        <p>we <span class="footer__small--love">❤︎</span> components</p>
      </small>
  </footer>