<footer class="footer">
  <a href="#header" class="footer__icon">
    <img title="Top" src="./assets/images/ico-arrow.svg" alt="Arrow icon">
  </a>
  <section class="footer__section">
    <nav class="flex">
      <ul class="footer__section--list">
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/"
            target="_blank">Articles</a>
        </li>
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/" target="_blank">Books</a>
        </li>
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/" target="_blank">Events</a>
        </li>
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/" target="_blank">Reasons</a>
        </li>
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/" target="_blank">Tips</a>
        </li>
      </ul>

      <ul class="footer__section--list">
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/" target="_blank">Twitter</a>
        </li>
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/"
            target="_blank">Instagram</a>
        </li>
        <li>
          <a class="footer__section--list item" title="Adalab Web" href="https://adalab.es/"
            target="_blank">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <small class="footer__section--small">
      <p>&copy;2021</p>
      <p>we <span class="love">❤︎</span> components</p>
    </small>
  </section>
</footer>