<header id="header" class="header">
  <nav class="header__menu">
    <a href="https://adalab.es/" target="_blank">
      <img title="Adalab Web" src="./assets/images/ico-menu.svg" alt="Menu icon">
    </a>
  </nav>
  <div class="header__div"></div>
  <section class="header__section">
    <h1 class="header__section--title">
      Anonymous Proxy
    </h1>
    <p>In hac habitasse platea dictumst.</p>
    <a class="header__section--icon" href="#secondSection">
      <img title="3 Reasons To Purchase" src="./assets/images/ico-scroll-down.svg" alt="Scroll down icon">
    </a>
  </section>
</header>