<section id="secondSection" class="secondSection">
  <div class="margin">
    <h2 class="secondSection__title"> 3 reasons to purchase</h2>
    <div class="secondSection__grid">
      <include item="item1" src="./article.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur.">
      </include>
      <include item="item2" src="./article.html" title="Curabitur ac erat"
        text="Mauris mattis urna quis lorem molestie.">
      </include>
      <include item="item3" src="./article.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
      </include>
    </div>
    <button class="secondSection__button">
      <p>More reasons</p>
    </button>
  </div>

</section>