// fonts
$fontTitles: 'Italiana', serif;
$fontMain: 'Roboto', sans-serif;

// colors
$colorMain: #fff;
$colorText: #000;
$colorTextSecondary: #4a4a4a;
$colorSecondary: #e0defd;
$colorTertiary: #4e48ad;
$colorButtons: #f26002;
$colorSmall: #A3D9C5;
$colorMenu: #625be9;

