// fonts
$fontTitles: 'Roboto Slab', serif;
$fontMain: 'Roboto', sans-serif;

// colors
$colorMain: #fff;
$colorText: #000;
$colorSecondary: #eff9ff;
$colorTertiary: #304268;
$colorButtons: #f26002;

