* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #000; }

.margin {
  margin: 0 15px; }
  @media all and (min-width: 768px) {
    .margin {
      margin: 0 39px; } }
  @media all and (min-width: 1280px) {
    .margin {
      margin: 0 81.2px; } }

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center; }
  .header__menu {
    position: fixed;
    width: 44px;
    height: 44px;
    padding: 15px 14px;
    background-color: #0271bc; }
  .header__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-size: 16px;
    text-align: center; }
    @media all and (min-width: 768px) {
      .header__section {
        font-size: 24px; } }
    .header__section--title {
      margin: 0 0 10px;
      font-size: 42px;
      font-family: "Roboto Slab", serif;
      text-align: center;
      text-transform: uppercase;
      word-spacing: 100%; }
      @media all and (min-width: 768px) {
        .header__section--title {
          margin: 0 0 20px;
          font-size: 80px; } }
      @media all and (min-width: 1280px) {
        .header__section--title {
          margin: 0;
          font-size: 100px;
          word-spacing: 100vh; } }
    .header__section--icon {
      width: 45px;
      height: 45px;
      margin: 45px 0 53px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 45px; }
      @media all and (min-width: 768px) {
        .header__section--icon {
          margin: 30px 0 45px; } }
      @media all and (min-width: 1280px) {
        .header__section--icon {
          margin: 30px 0 13px; } }

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #4a4a4a;
  background-color: #fff;
  font-size: 18px;
  line-height: 30px; }
  @media all and (min-width: 768px) {
    .firstSection {
      font-size: 20px; } }
  @media all and (min-width: 1280px) {
    .firstSection .margin {
      max-width: 730px; } }
  .firstSection__small {
    margin: 30px 0 0;
    color: #8ccbea;
    font-size: 14px;
    line-height: 30px; }
    @media all and (min-width: 1280px) {
      .firstSection__small {
        margin: 60px 0 0;
        font-size: 16px; } }
  .firstSection__title {
    width: 100%;
    margin: 0 0 15px;
    color: #000;
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    text-transform: capitalize; }
    @media all and (min-width: 768px) {
      .firstSection__title {
        margin: 0 0 30px;
        font-size: 26px;
        line-height: 45px; } }
    @media all and (min-width: 1280px) {
      .firstSection__title {
        font-size: 32px; } }
  .firstSection__button {
    width: 76px;
    height: 45px;
    margin: 30px 0 45px;
    color: #f26002;
    background-color: #fff;
    border: #f26002 2px solid;
    border-radius: 22.5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    transition: background-color linear 0.5s, color linear 0.5s, border linear 0.5s; }
    .firstSection__button:hover {
      color: #fff;
      background-color: #f26002; }
    .firstSection__button:active {
      background-color: #8ccbea;
      border: none; }
    @media all and (min-width: 768px) {
      .firstSection__button {
        width: 91px;
        margin: 30px 0 60px; } }
    @media all and (min-width: 1280px) {
      .firstSection__button {
        width: 160px; } }

.prizing {
  width: 100%;
  padding: 30px 0;
  color: #fff;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px; }
  @media all and (min-width: 768px) {
    .prizing__section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 30px; } }

.secondSection {
  display: flex;
  width: 100%;
  background-color: #eff9ff;
  text-align: center; }
  .secondSection__title {
    margin-top: 30px;
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    text-transform: capitalize; }
    @media all and (min-width: 768px) {
      .secondSection__title {
        font-size: 26px; } }
    @media all and (min-width: 1280px) {
      .secondSection__title {
        font-size: 32px;
        margin-top: 60px; } }
  .secondSection__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    @media all and (min-width: 768px) {
      .secondSection__grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr; } }
    .secondSection__grid--item {
      grid-column: 2/5;
      padding-top: 45px;
      font-size: 18px;
      line-height: 30px; }
      @media all and (min-width: 768px) {
        .secondSection__grid--item {
          grid-column: span 1;
          font-size: 20px; } }
    .secondSection__grid--item .title {
      font-size: 18px;
      font-family: "Roboto Slab", serif; }
      @media all and (min-width: 768px) {
        .secondSection__grid--item .title {
          margin-bottom: 14px;
          font-size: 24px; } }
    .secondSection__grid--item.item1 {
      grid-row: 1/2; }
      @media all and (min-width: 768px) {
        .secondSection__grid--item.item1 {
          grid-row: span 1;
          grid-column: 1/2;
          margin: 0 18px 0; } }
    .secondSection__grid--item.item2 {
      grid-row: 2/3; }
      @media all and (min-width: 768px) {
        .secondSection__grid--item.item2 {
          grid-row: span 1;
          grid-column: 2/3;
          margin: 0 18px 0; } }
    .secondSection__grid--item.item3 {
      grid-row: 3/4; }
      @media all and (min-width: 768px) {
        .secondSection__grid--item.item3 {
          grid-row: span 1;
          grid-column: 3/4;
          margin: 0 18px 0; } }
  .secondSection__button {
    width: 184px;
    height: 45px;
    margin: 45px 0 60px;
    color: #fff;
    background-color: #f26002;
    border-radius: 22.5px;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    transition: background-color ease 0.1s, transform ease-in-out 0.5s; }
    .secondSection__button:hover {
      transform: scale(110%); }
    .secondSection__button:active {
      background-color: #8ccbea; }
    @media all and (min-width: 768px) {
      .secondSection__button {
        width: 210px;
        margin-top: 60px; } }
    @media all and (min-width: 1280px) {
      .secondSection__button {
        width: 255px; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #304268; }
  .footer__icon {
    position: absolute;
    width: 45px;
    height: 45px;
    padding: 11px 12.4px 10px 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    -webkit-animation-name: slipperyIcon;
    animation-name: slipperyIcon;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  .footer__section {
    width: 100%;
    margin: 45px 0; }
    @media all and (min-width: 768px) {
      .footer__section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 39px; } }
    @media all and (min-width: 1280px) {
      .footer__section {
        padding: 0 370px; } }
    .footer__section--list {
      margin: 15px 0 30px;
      list-style: none;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      line-height: 30px; }
      @media all and (min-width: 768px) {
        .footer__section--list {
          margin: 0;
          text-align: left; } }
      .footer__section--list.item {
        color: #fff;
        text-decoration: none; }
    .footer__section--small {
      width: 30%;
      color: #fff;
      font-size: 14px;
      text-align: center;
      line-height: 30px; }
      @media all and (min-width: 768px) {
        .footer__section--small {
          text-align: left; } }
      .footer__section--small .love {
        color: #f26002; }
    @media all and (min-width: 768px) {
      .footer__section .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%; } }

@-webkit-keyframes slipperyIcon {
  0% {
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff; }
  25% {
    transform: translateY(-50%) rotate(-45deg);
    background-color: #8ccbea; }
  50% {
    transform: translateY(-50%) rotate(45deg);
    background-color: #0271bc; }
  75% {
    transform: translateY(-50%) rotate(-45deg);
    background-color: #8ccbea; }
  100% {
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff; } }

@keyframes slipperyIcon {
  0% {
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff; }
  25% {
    transform: translateY(-50%) rotate(-45deg);
    background-color: #8ccbea; }
  50% {
    transform: translateY(-50%) rotate(45deg);
    background-color: #0271bc; }
  75% {
    transform: translateY(-50%) rotate(-45deg);
    background-color: #8ccbea; }
  100% {
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff; } }

/*# sourceMappingURL=main.css.map */
