* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #000; }

.margin {
  margin: 0 15px; }

.code {
  font-size: 16px;
  background: #d8d8d8;
  padding: 0 5px;
  border-radius: 5px; }

.link__adalab:hover {
  background-color: #099d8d;
  color: #fff; }

.link__github:hover {
  background-color: #CCC;
  color: #000; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/cover.jpg");
  background-size: cover;
  background-position: center; }
  .header__menu {
    width: 44px;
    height: 44px;
    padding: 15px 14px;
    background-color: #0271bc;
    position: fixed; }
  .header__section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-size: 16px;
    text-align: center; }
    .header__section--title {
      font-family: "Roboto Slab", serif;
      font-size: 42px;
      text-transform: uppercase;
      text-align: center;
      word-spacing: 100%;
      margin: 0 0 10px; }
    .header__section--icon {
      background-color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 22.5px;
      margin: 45px 0 53px;
      line-height: 45px;
      text-align: center; }

.firstSection {
  width: 100%;
  background-color: #fff;
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a; }
  .firstSection__small {
    margin: 30px 0 0;
    font-size: 14px;
    line-height: 30px;
    color: #8ccbea; }
  .firstSection__title {
    width: 100%;
    margin: 0 0 15px;
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    text-transform: capitalize;
    color: #000; }
  .firstSection__button {
    width: 76px;
    height: 45px;
    margin: 30px 0 45px;
    background-color: #fff;
    border: #f26002 2px solid;
    border-radius: 22.5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #f26002; }

.secondSection {
  width: 100%;
  background-color: #eff9ff;
  display: flex;
  text-align: center; }
  .secondSection__title {
    margin-top: 30px;
    font-size: 24px;
    font-family: "Roboto Slab", serif; }
  .secondSection__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .secondSection__grid--item {
      padding-top: 45px;
      font-size: 18px;
      line-height: 30px;
      grid-column: 2/5; }
    .secondSection__grid--item .title {
      font-size: 18px;
      font-family: "Roboto Slab", serif; }
    .secondSection__grid--item.item1 {
      grid-row: 1/2; }
    .secondSection__grid--item.item2 {
      grid-row: 2/3; }
    .secondSection__grid--item.item3 {
      grid-row: 3/4; }
  .secondSection__button {
    width: 184px;
    height: 45px;
    margin: 45px 0 60px;
    background-color: #f26002;
    border-radius: 22.5px;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff; }

.footer {
  width: 100%;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__icon {
    width: 45px;
    height: 45px;
    padding: 11px 12.4px 10px 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-22.5px); }
  .footer__list {
    margin: 15px 0 15px;
    list-style: none;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase; }
    .footer__list--item {
      text-decoration: none;
      color: #fff; }
  .footer__small {
    font-size: 14px;
    line-height: 30px;
    color: #fff; }
  .footer__small.top {
    margin-top: 15px; }
  .footer__small.bottom {
    margin-bottom: 45px; }
  .footer__small .love {
    color: #f26002; }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
