.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $colorTextSecondary;
  background-color: $colorMain;
  font-size: 18px;
  line-height: 30px;

  @media all and (min-width: 768px) {
    font-size: 20px;
  }

  & .margin {
    @media all and (min-width: 1280px) {
      max-width: 730px;
    }
  }

  &__small {
    margin: 30px 0 0;
    color: $colorSmall;
    font-size: 14px;
    line-height: 30px;

    @media all and (min-width: 1280px) {
      margin: 60px 0 0;
      font-size: 16px;
    }
  }

  &__title {
    width: 100%;
    margin: 0 0 15px;
    color: $colorText;
    font-size: 24px;
    font-family: $fontTitles;
    text-transform: capitalize;

    @media all and (min-width: 768px) {
      margin: 0 0 30px;
      font-size: 26px;
      line-height: 45px;
    }

    @media all and (min-width: 1280px) {
      font-size: 32px;
    }
  }

  &__button {
    width: 76px;
    height: 45px;
    margin: 30px 0 45px;
    color: $colorButtons;
    background-color: $colorMain;
    border: $colorButtons 2px solid;
    border-radius: 22.5px;
    font-size: 20px;
    font-family: $fontMain;
    font-weight: 500;
    transition: background-color linear 0.5s, color linear 0.5s,
      border linear 0.5s;

    &:hover {
      color: $colorMain;
      background-color: $colorButtons;
    }

    &:active {
      background-color: $colorSmall;
      border: none;
    }

    @media all and (min-width: 768px) {
      width: 91px;
      margin: 30px 0 60px;
    }

    @media all and (min-width: 1280px) {
      width: 160px;
    }
  }
}
