.footer {
  width: 100%;
  background-color: $colorTertiary;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
      width: 45px;
      height: 45px;
      padding: 11px 12.4px 10px 12px;
      background-color: $colorMain;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      transform: translateY(-22.5px);
  }

  &__list {
    margin: 15px 0 15px;
    list-style: none;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;

    &--item {      
      text-decoration: none;
      color: $colorMain;
    }
  }

  &__small {
    margin: 15px 0 45px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: $colorMain;

    &--love {
      color: $colorButtons;
    }
  }
}
